<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Stats of Sightings</title></head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.0.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <body>
	  <ul>
            <a href="/sightings/stats">Statistics</a></li>
        </ul>
    <h2 style="font-family:verdana;text-align:center;">Statistics of Squirrel Sightings </h2>
    <ul style="list-style-type:square;">
	    <li>We have {{total_num}} of squirrel sightings now.</li>
      <br>
      <h3>Latitiude information：</h3>
      <li>Eastest Point: {{latitude_stat.maximum}}</li>
      <li>Westest Point: {{latitude_stat.minimum}}</li>
      <li>On average the latitude is around {{latitude_stat.average}}</li>
      <br>
      <h3>Longitude informaiton: </h3>
      <li>Northest Point: {{longitude_stat.maximum}}</li>
      <li>Southest Point：{{longitude_stat.minimum}}</li>
      <li>On average the longitude is around {{longitude_stat.average}}</li>
      <br>
      <h3>Shift summaries :</h3>
      <li>{{shift_stat}}</li>
      <br>
      <h3>Age summaries (empty means data not provided):</h3>
      <li>{{age_stat}}</li>
  </body>

</html>
